/*
    *** Main css file for qa app. ***
    * ☹ ☺ ☻ ☰ ⁂ ✘ ☑ ☒ ✪ ☆ ★ ☕ § ¬ ° ± µ ∠ ⊥ ≈ ≅ ≠ √ ∑ ∫ ∞ *
*/

html {
    height: 100%;
}

html, body, div, p, main {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
    margin-top: 6rem;
}

a {
    text-decoration: none;
}

:root {
    --userUsernameColor: yellow;
    --appNameColor: orange;
    
    --userPanelBgColor: teal;
    --userPanelTextColor: white;
    
    --questionBorderColor: LightSeaGreen;
    --questionFooterColor: gray;
    --questionBgHoverColor: PeachPuff;
    --questionLinkColor: purple;
    
    --footerBgColor: teal;
}

.MainPageOn, .PopularPageOn, .CategoryPageOn, .AskPageOn {
    border-bottom: 2px solid var( --userPanelTextColor );
}

.TopWrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.UserPanel {
    width: 100%;
    background-color: var( --userPanelBgColor );
}

.AnonymousUser, .CurrentUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 2rem;
}

.Login, .Signup, .CurrentUsername, .Logout {
    height: 1.2rem;
    margin-right: 2rem;
}

.Login, .Signup, .Logout {
    border-bottom: 1px solid var( --userPanelBgColor );
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.Login:hover, .Signup:hover, .Logout:hover {
    border-bottom: 1px solid var( --userPanelTextColor );
}

.Login > a, .Signup > a, .CurrentUsername > a, .Logout > a, 
    .Item > a {
    color: var( --userPanelTextColor );
}

.NameItem > a {
    color: var( --appNameColor );
}

.UserUsername {
    color: var( --userUsernameColor );
}

.TopMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.Item {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-right: 0rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-bottom: 2px solid var( --userPanelBgColor );
}

.NameItem {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-left: 2rem;
    margin-right: 0rem;
}

.Item:hover {
    border-bottom: 2px solid var( --userPanelTextColor );
}

.SearchItem {
    margin-left: auto;
    margin-right: 2rem;
}

.SearchItem > form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Columns > .Column {
    flex: 0.6;
}

.Question {
    margin: 0.5rem;
    border: 2px solid var( --questionBorderColor );
    border-radius: 1rem;
}

.Question:hover {
    background-color: var( --questionBgHoverColor );
}

.TitleForQuestion {
    padding: 0.5rem;
}

.TitleForQuestion > a {
    color: var( --questionLinkColor );
}

.FooterForQuestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.FooterForQuestion > div {
    padding: 0.5rem;
    color: var( --questionFooterColor );
}

.FooterForQuestion > div > a {
    color: inherit;
}

.FootWrapper {
    display: flex;
    width: 100%;
    min-height: 4rem;
    background: var( --footerBgColor );
}


