<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- *** Base template for all pages. *** -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, 
            initial-scale=1.0, maximum-scale=2, minimum-scale=0.5" />
        <link rel="stylesheet" href="/css/main.css" />
        <title>
            {% block TITLE %} Question-answer {% endblock %}
        </title>
    </head>
    <body>
    
        {% block MENU %}
        {% endblock %}
        
        {% block TOP_MENU %}
        <div class="TopWrapper">
            <div class="UserPanel">
            {% if is_user %}
                <div class="CurrentUser">
                    <div class="CurrentUsername">
                        <strong>{{ username }}</strong> 
                        <span></span>
                    </div>
                    <div class="Logout">
                        <a href="/logout/">Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="AnonymousUser">
                    <div class="Login">
                        <a href="/login/">Login</a>
                    </div>
                    <div class="Signup">
                        <a href="/signup/">Signup</a>
                    </div>
                </div>
            {% endif %}
            </div>
            
        </div>
        {% endblock %}
        
        {% block MAIN %}
        <p>... text ...</p>
        {% endblock %}
        
        {% block FOOTER %}
        <p>---</p>
        {% endblock %}
        
    </body>
</html>


