<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- *** Base template for all pages. *** -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, 
            initial-scale=1.0, maximum-scale=2, minimum-scale=0.5" />
        <link rel="stylesheet" href="/css/main.css" />
        <title>
            {% block TITLE %} Question-answer {% endblock %}
        </title>
    </head>
    <body>
        
        {% block TOP_MENU %}
        <div class="TopWrapper">
            <div class="UserPanel">
            {% if is_user %}
                <div class="CurrentUser">
                    <div class="CurrentUsername">
                        <strong>{{ username }}</strong> 
                        <span></span>
                    </div>
                    <div class="Logout">
                        <a href="/logout/">Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="AnonymousUser">
                    <div class="Login">
                        <a href="/login/">Login</a>
                    </div>
                    <div class="Signup">
                        <a href="/signup/">Signup</a>
                    </div>
                </div>
            {% endif %}
            
                <div class="TopMenu">
                    <div class="NameItem">
                        <a href="/" title="Question-answer app">Question<br />answer</a>
                    </div>
                    <div class="Item">
                        <a href="/">Main</a>
                    </div>
                    <div class="Item">
                        <a href="/popular/">Popular</a>
                    </div>
                    <div class="Item">
                        <a href="#">Category</a>
                    </div>
                    <div class="Item">
                        <a href="/ask/">Ask</a>
                    </div>
                    <div class="SearchItem">
                        <input type="text" placeholder="Search" />
                    </div>
                </div>
                
            </div>
        </div>
        {% endblock %}
        
        {% block MAIN %}
        {% endblock %}
        
        {% block FOOTER %}
        <div class="FootWrapper">
            
        </div>
        {% endblock %}
        
    </body>
</html>


