
<!-- *** List of questions. *** -->

{% extends "base_template.html" %}

{% block TITLE %}
List of questions
{% endblock %}

{% block MAIN %}
<main>
    
    <div class=Columns>
        <div class="Column">
            {% for question in questions %}
            <div class="Question">
                <div class="TitleForQuestion">
                    <a href="{{ question.get_absolute_url }}" title="Open: {{ question.title }}">
                        <strong>{{ question.title }}</strong>
                    </a>
                </div>
                <div class="FooterForQuestion">
                    <div>
                        <a href="#" title="Author: {{ question.author.username }}">
                        {{ question.author.username }}</a>
                    </div>
                    <div>|</div>
                    <div>"added date"</div>
                    <div>|</div>
                    <div>"count of answers"</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <nav>
        <ul>
        {% for i in paginator.page_range %}
            {% if i == page.number %}
            <li class="Active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ paginator.baseurl }}{{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
        </ul>
    </nav>
</main>

{% endblock %}


