
<!-- *** Login page. *** -->

{% extends "base_template.html" %}

{% block TITLE %}
Login
{% endblock %}

{% block MAIN %}
<main>
    <h1>Login</h1>
    
    <div class="Error">{{ error }}</div>
    
    <div>
    {% for err in form.non_field_errors %}
        <div>{{ err }}</div>
    {% endfor %}
    </div>
    
    <form method="post" action="/login/">
    {% csrf_token %}
        <fieldset>
        {% for field in form %}
            <div class="ControlGroup {% if field.errors %}HasError{% endif %}">
                <label>{{ field.label }}</label>
                <div>{{ field }}</div>
            </div>
        {% endfor %}
        </fieldset>
        <div class="FormActions">
            <button type="submit">Login</button>
        </div>
    </form>
</main>
{% endblock %}


