
<!-- *** One question. *** -->

{% extends "base_template.html" %}

{% block TITLE %}
Question
{% endblock %}

{% block MAIN %}
<main>
    <h1>Question {{ id }}</h1>
    
    <div>
        <p>{{ title }}</p>
        <p>{{ text }}</p>
        <p>Author: {{ author.username }}</p>
    </div>
    
    <div>
        <p>Add answer:</p>
        
        <div>
        {% for err in form.non_field_errors %}
            <p>{{ err }}</p>
        {% endfor %}
        <div>
        
        <form method="post" action="/question/{{ id }}/">
        {% csrf_token %}
            <fieldset>
            {% for field in form %}
                <div class="ControlGroup {% if field.errors %}HasError{% endif %}">
                        <div>{{ field }}</div>
                </div>
            {% endfor %}
            </fieldset>
            <div class="FormActions">
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
    
    <div>
        <p>Answers:</p>
        {% for answer in answers %}
        <div>
            <p>Answer {{ answer.pk }}</p>
            <p>{{ answer.text }}</p>
            <p>Author: {{ answer.author.username }}</p>
        </div>
        {% endfor %}
    </div>
    
</main>
{% endblock %}


